.logo {
    width: 7vw;
    border-radius: 50%;
    margin: 10px;
}

.italy {
    width: 40vw;
    height: auto;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: radial-gradient(circle, rgba(71, 89, 133, 0.5), rgba(55, 70, 102, 0.5), rgba(41, 52, 72, 0.5), rgba(28, 34, 44, 0.5), rgba(15, 16, 18, 0.5));
    backdrop-filter: blur(5px);
    z-index: -1;
}

