.logo {
    width: 7vw;
    border-radius: 50%;
    margin: 10px;
}

.italy{
    width: 40vw;
    height: auto;
}

.body{
    background-image: url(../src//assets/bg-fixed.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}